$socker-property-color: rgb(230, 49, 73);
$socker-number-color: rgb(68, 160, 221);
$socker-ref-color: rgb(38, 233, 97);
$socker-variable-color: rgb(247, 199, 44);
$socker-keyframe-color: rgb(176, 46, 228);
$socker-bool-color: rgb(70, 150, 241);
$socker-ease-color: #d3ffa1;
